[Desktop Entry]
Type=Application
Categories=Network;Application;
GenericName=Database Manager
Exec=/usr/bin/benchwell
Version=1.0
Name=Benchwell
Comment=Benchwell - Tool kit
Icon=benchwell
Terminal=false
Encoding=UTF-8
StartupWMClass=Benchwell
