* {
	font-size: 17px;
	font-family: 'JetBrainsMono Nerd Font';
}

entry, text {
	background-color: #3d3d3d;
}

notebook > header > tabs > tab:checked {
	background-color: #3d3d3d;
}

/*header*/
treeview.view button box label {
	color: #ffffff;
}

treeview.view button {
	background-image: linear-gradient(to bottom, #2c2c2c 20%, #252525 90%)
}
