[Desktop Entry]
Type=Application
Categories=Network;Application;
GenericName=Database Manager
Exec=/usr/bin/sqlaid
Version=1.0
Name=SQLaid
Comment=SQLaid database browser
Icon=sqlaid
Terminal=false
Encoding=UTF-8
StartupWMClass=SQLaid
