* {
	-GtkScrollbar-has-backward-stepper: true;
	-GtkScrollbar-has-forward-stepper: true;
}

label.tag {
	/*background-color: #a3a3a3;*/
	color: #000;
	padding: 2px 10px;
	border-radius: 5px;
}

label.tag.success {
	background-color: #449944;
}

label.tag.error {
   background-color: #aa4444;
}

#Duration{
	margin-left:20px;
}

#BodyMimeOpts, #ResponseDetails, #AddressBar {
	padding: 10px;
}

notebook > header.top > tabs > tab {
	border-radius: 0.5em 0.5em 0em 0.0em;
	border-bottom: none;
	margin-top: 5px;
}

notebook, notebook header  {
	border: none;
}

notebook > header.bottom > tabs > tab {
	border-radius: 0em 0.0em 0.5em 0.5em;
	border-top: none;
	margin-bottom: 5px;
}

notebook tabs tab label {
	padding: 0.2em;
	font-weight: 700;
}

/*header*/
treeview.view button box label {
	padding: 0.5em;
}

list row {
	padding: 0.5em 0em;
}

list row image {
	margin-right: 1px;
}

#conditions {
	margin-left: 5px;
}


#queryactionbar box {
	border-width: 0;
}

#form {
	padding: 10px;
}

/* DARK */

entry, text {
	/*background-color: #3d3d3d;*/
}

/*header*/
treeview.view button box label {
	/*color: #ffffff;*/
}

treeview.view button {
	/*background-image: linear-gradient(to bottom, #2c2c2c 20%, #252525 90%)*/
}

switch {
	border-radius: 15px;
	min-width: 20px;
	min-height: 20px;
}

switch slider {
	border-radius: 15px;
	min-width: 20px;
	min-height: 20px;
}

entry.search {
	border-radius: 20px;
}

.responsemeta {
	padding: 5px;
}

.requestmeta label {
	background-color: #6c6c6c;
	color: #fff;
	padding: 2px 5px;
	border-radius: 3px;
	margin: 0 5px;
}

.responsemeta label {
	background-color: #6c6c6c;
	color: #fff;
	padding: 2px 5px;
	border-radius: 3px;
	margin: 0 5px;
}

.responsemeta label.ok {
	background-color: #0a0;
}

.responsemeta label.bad {
	background-color: #a00;
}

.responsemeta label.warning {
	background-color: #ff7305;
}

#HttpAddressBar {
	padding: 10px 10px 0px 10px;
}

#HttpCollectionSelect {
	padding: 10px 10px 0;
}

#HttpOverlay .overlay-bg {
	background: rgba(255, 115, 5, 0.3);
}

.keyvalues {
	padding: 10px;
}

.pomodoro-counter {
	font-size: 10px;
}

.bw-spacing {
	padding: 10px;
}
